@tailwind base;
@tailwind components;
@tailwind utilities;

.pixel{
width: 2vw;
height: 2vw;
max-width: 30px;
max-height: 30px;
}
.letterWrapper{
margin: 1.5vw;
}


@media (max-width: 768px) {
  .pixel{
	width: 4vw;
	height: 4vw;
	max-width: 30px;
	max-height: 30px;
  }
  .letterWrapper{
	margin: 3.5vw 4.5vw;
  }

}

.activePixel {
  	opacity: 0;
    animation: fadeIn var(--animation-time) ease-in forwards;

}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

